PORT=8000
MONGODB_URL=mongodb+srv://archiveadmin:archive@archives.no5a8kl.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=20c9ad97c081d63397d76685a412227a40e23c
ACCESS_TOKEN_EXPIRY=5d
REFRESH_TOKEN_SECRET=8bdc6688c6f37e97cfbc22d2b4d1db1510d8f61e
REFRESH_TOKEN_EXPIRY=20d
CLOUDINARY_NAME=dqgwfbi1a
API_KEY_CLOUDINARY= 282193957982679
CLOUDINARY_API_SECRET=jGDoKl5LkcHXJTtf9SQlBeinCAE
